# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
/.idea/libraries/

# Datasource local storage ignored files
/.idea/dataSources/
dataSources.local.xml

# Editor-based HTTP Client requests
/.idea/httpRequests/
rest-client.private.env.json
http-client.private.env.json

#
to test

filetotest.txt
foldername

filetest_**.txt

*.iml

# Project exclude paths
/.gradle/
/code_features/build/
/code_features/build/classes/java/main/
/code_features/build/classes/java/test/
/code_kotlin/build/
/tests_jbehave/build/
/tests_jbehave/build/classes/java/test/
/tests_junit/build/
/tests_junit/build/classes/java/test/
/tests_testng/build/
/tests_testng/build/classes/java/test/

/*.txt
*/out


target

