[submodule "vcs"]
	path = vcs
	url = git@github.com:vbo-acc/vcs_adventures.git
[submodule "simple"]
	path = simple
	url = git@github.com:CK-qa/SimpleProject.git
[submodule "vb_repo"]
	path = vb_repo
	url = git@github.com:vbozh/vb.git
[submodule "cucumber"]
	path = cucumber
	url = git@github.com:CK-qa/simpleCucumberProject.git
[submodule "junit"]
	path = junit
	url = git@github.com:CK-qa/projectJunit.git
[submodule "jbtest"]
	path = jbtest
	url = git@github.com:CK-qa/JBTest.git
[submodule "pics"]
	path = pics
	url = git@github.com:CK-qa/TestBOFE.git
[submodule "shelvetest"]
	path = shelvetest
	url = git@github.com:CK-qa/projectForShelve.git
[submodule "lottery"]
	path = lottery
	url = git@github.com:CK-qa/NumsSpreading.git
[submodule "patterns"]
	path = patterns
	url = git@github.com:iluwatar/java-design-patterns.git
[submodule "pluginjunit"]
	path = pluginjunit
	url = git@github.com:jenkinsci/junit-plugin.git
